<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        #container {
            width: 100vw;
            min-width: 400px;
            min-height: 100vh;
            padding: 1rem 4rem 0 4rem;
        }
        #cards-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .card {
            margin: 1rem 0;
        }
        .card img {
            width: 100%;
            height: 12rem;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <div id='container'>
        <h3 style='text-align: center;'>Daftar Harga Pangan di Pasar Minggu DKI Jakarta</h3>
        <hr/>
        <br/>
        <h5>Harga Beli Dollar saat ini: Rp{{ harga_beli_dollar }}</h5>
        <div id='cards-wrapper'>
            {% for item in data %}
            <div class="card" style="width: 18rem;">
                <img src={{ item.gambar_url }} class="card-img-top" alt={{ item.nama }}>
                <div class="card-body">
                <h5 class="card-title">{{ item.nama }}</h5>
                <p class="card-text">Rp{{ item.harga_rupiah }} (${{ item.harga_dollar }}) / {{ item.unit }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <br/>
        <hr/>
        <p>Made with &hearts; by Aldi Firmansyah and Damar Wardoyo for EAI Course</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>